@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
.container {
  padding: 1rem 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  background-color: #323330;
}

.container section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
  padding-left: 2rem;
  padding-right: 2rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  padding: 2rem;
}

.container section p,
.container section span {
  color: #f8f8f8;
}

.container section h2 {
  color: #f0db4f;
}

.aside_navbar {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  padding: 0;
  color: #323330;
  background-color: #f0db4f;
  height: 100vh;
  min-width: 180px;
}

.aside_navbar .icon_container {
  margin: 0;
  padding: 0;
  width: 100%;
}

.aside_navbar .menu_container {
  margin-top: 2rem;
  height: 80%;
}

.aside_navbar .menu_container a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 3rem;
  text-align: center;
  color: #323330;
  text-decoration: none;
  -webkit-transition: ease 0.1s;
  transition: ease 0.1s;
}

.aside_navbar .menu_container a:hover {
  background-color: #323330;
  color: #f8f8f8;
}

.aside_navbar .menu_container a:active {
  background-color: #f8f8f8;
  color: #323330;
}

.aside_navbar .menu_container .active {
  background-color: #323330;
  color: #f8f8f8;
}

header {
  color: #f0db4f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

header p {
  color: #f8f8f8;
}

.btn {
  cursor: pointer;
  text-transform: uppercase;
  color: #f0db4f;
  margin: 2rem;
  background: none;
  padding: 1rem 2rem;
  border: 2px solid #f0db4f;
  text-decoration: none;
  outline: none;
  -webkit-transition: ease 0.1s;
  transition: ease 0.1s;
}

.btn:hover {
  background-color: #f0db4f;
  color: #323330;
}

.btn:active {
  background-color: #f8f8f8;
  color: #323330;
}

* {
  font-family: "Roboto", sans-serif;
}

.txt-sm {
  font-size: 14px;
}

.txt-md {
  font-size: 14px;
}

@media all and (min-width: 400px) {
  .txt-md {
    font-size: 16px;
  }
}

@media all and (min-width: 600px) {
  .txt-md {
    font-size: 20px;
  }
}

.txt-xl {
  font-size: 1rem;
}

@media all and (min-width: 400px) {
  .txt-xl {
    font-size: 2em;
  }
}

@media all and (min-width: 600px) {
  .txt-xl {
    font-size: 3rem;
  }
}

.palindrome_app .palindrome_input {
  padding: 1rem;
}

.palindrome_app #palindrome_response {
  text-transform: capitalize;
  margin: 0;
}

.palindrome_app #palindrome_response p {
  margin: 0;
}

.input-roman {
  margin: 1rem;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  padding: 1rem;
}

#roman_response p {
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

html body {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 0;
}
/*# sourceMappingURL=main.css.map */