@import "../core/variables";

.container {
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: $color-secondary;
  section {
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding-left: 2rem;
    padding-right: 2rem;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 2rem;
    p,
    span {
      color: $color-alternate;
    }
    h2 {
      color: $color-primary;
    }
  }
}
