@import "../core/variables.scss";

.container {
  background-color: $color-secondary;
  section {
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding-left: 2rem;
    padding-right: 2rem;
    align-items: center;
    justify-content: center;
    text-align: center;
    p,
    span {
      color: $color-alternate;
    }
    h2 {
      color: $color-primary;
    }
    padding: 2rem;
  }
}
